@using System.Globalization
@model Crossout.AspWeb.Models.Cod.TeamTable

<table class="table table-borderless team-table" data-matchid="@Model.MatchId" data-tableid="@Model.Id" data-roundid="@Model.RoundNumber" id="teamTable@(Model.Id)">
    <thead>
        <tr>
            <th></th>
            <th>
                Name
            </th>
            <th>
                Group
            </th>
            <th>
                Damage Taken
            </th>
            <th>
                Drone Kills
            </th>
            <th>
                Assists
            </th>
            <th>
                Kills
            </th>
            <th>
                Damage
            </th>
            <th>
                Score
            </th>
            <th class="never">
                User ID
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model.Players)
        {
            <tr>
                <td class="details-control">
                    <img class="loading" src="~/icons/Spinner-1s-64px.svg" width="32" height="32" />
                    <svg class="feather-help-circle plus d-none"><use xlink:href="/icons/feather-sprite.svg#plus-circle" /></svg>
                    <svg class="feather-help-circle minus d-none"><use xlink:href="/icons/feather-sprite.svg#minus-circle" /></svg>
                </td>
                <td>
                    @player.FirstRound.nickname
                </td>
                <td>
                    @if (player.FirstRound.group_id != 0)
                    {
                        <div class="blocky" data-seed="@player.FirstRound.group_id" data-blockytype="group"></div>
                    }
                </td>
                <td data-order="@player.FirstRound.damage_taken.ToString("0.00", CultureInfo.InvariantCulture)">
                    <div>@player.FirstRound.damage_taken.ToString("0.00", CultureInfo.InvariantCulture)</div>
                </td>
                <td data-order="@player.FirstRound.drone_kills">
                    <div>@player.FirstRound.drone_kills</div>
                </td>
                <td data-order="@player.FirstRound.assists">
                    <div>@player.FirstRound.assists</div>
                </td>
                <td data-order="@player.FirstRound.kills">
                    <div>@player.FirstRound.kills</div>
                </td>
                <td data-order="@player.FirstRound.damage.ToString("0.00", CultureInfo.InvariantCulture)">
                    <div>@player.FirstRound.damage.ToString("0.00", CultureInfo.InvariantCulture)</div>
                </td>
                <td data-order="@player.FirstRound.score">
                    <div>@player.FirstRound.score</div>
                </td>
                <td>
                    @player.FirstRound.uid
                </td>
            </tr>
        }
    </tbody>
</table>
