@using System.Globalization
@model Crossout.AspWeb.Models.Cod.TeamTable

<table class="table table-borderless team-table" data-matchid="@Model.MatchId" data-tableid="@Model.Id" data-roundid="@Model.RoundNumber" id="teamTable@(Model.Id)">
    <thead>
        <tr>
            <th></th>
            <th>
                Name
            </th>
            <th>
                Group
            </th>
            <th>
                Kills
            </th>
            <th>
                Assists
            </th>
            <th>
                Drone Kills
            </th>
            <th>
                Damage
            </th>
            <th>
                Damage Taken
            </th>
            <th>
                Score
            </th>
            <th class="never">
                User ID
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model.Players)
        {
            <tr class="@(player.UserId == Model.HighlightUid ? "table-info" : "")">
                <td class="details-control">
                    <img class="loading" src="~/icons/Spinner-1s-64px.svg" width="32" height="32" />
                    <svg class="feather-help-circle plus d-none"><use xlink:href="/icons/feather-sprite.svg#plus-circle" /></svg>
                    <svg class="feather-help-circle minus d-none"><use xlink:href="/icons/feather-sprite.svg#minus-circle" /></svg>
                </td>
                <td>
                    <a href="/profile/@player.UserId">
                        @player.FirstRound.nickname
                    </a>
                </td>
                <td>
                    @if (player.FirstRound.group_id != 0)
                    {
                        <div class="blocky" data-seed="@player.FirstRound.group_id" data-blockytype="group"></div>
                    }
                </td>
                <td data-order="@player.FirstRound.kills">
                    <div>@player.FirstRound.kills</div>
                </td>
                <td data-order="@player.FirstRound.assists">
                    <div>@player.FirstRound.assists</div>
                </td>
                <td data-order="@player.FirstRound.drone_kills">
                    <div>@player.FirstRound.drone_kills</div>
                </td>
                <td data-order="@player.FirstRound.damage.ToString("0.0", CultureInfo.InvariantCulture)">
                    <div>@player.FirstRound.damage.ToString("0.0", CultureInfo.InvariantCulture)</div>
                </td>
                <td data-order="@player.FirstRound.damage_taken.ToString("0.0", CultureInfo.InvariantCulture)">
                    <div>@player.FirstRound.damage_taken.ToString("0.0", CultureInfo.InvariantCulture)</div>
                </td>
                <td data-order="@player.FirstRound.score">
                    <div>@player.FirstRound.score</div>
                </td>
                <td>
                    @player.UserId
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="input-group">
    <div class="input-group-prepend">
        <label class="input-group-text" for="piechartDropdown@(Model.Id)">Visualization</label>
    </div>

    <div class="input-group-append">
        <button id="piechartDropdown@(Model.Id)" type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Pie Chart <svg class="feather-general"><use xlink:href="/icons/feather-sprite.svg#pie-chart" /></svg>
        </button>
        <div class="dropdown-menu" aria-labelledby="piechartDropdown@(Model.Id)" data-tableid="@Model.Id">
            <a class="dropdown-item" data-columnindex="3">Kills</a>
            <a class="dropdown-item" data-columnindex="4">Assists</a>
            <a class="dropdown-item" data-columnindex="5">Drone Kills</a>
            <a class="dropdown-item" data-columnindex="6">Damage</a>
            <a class="dropdown-item" data-columnindex="7">Damage Taken</a>
            <a class="dropdown-item" data-columnindex="8">Score</a>
        </div>
    </div>

</div>

<div id="visualizationWrapper@(Model.Id)">
    <div id="piechartWrapper@(Model.Id)">

    </div>
</div>