@using System.Globalization
@model Crossout.AspWeb.Models.Cod.TeamTable

<table class="table table-borderless team-table" data-matchid="@Model.MatchId" data-tableid="@Model.Id" id="teamTable@(Model.Id)">
    <thead>
        <tr>
            <th></th>
            <th>
                Name
            </th>
            <th>
                Group
            </th>
            <th>
                Damage Taken
            </th>
            <th>
                Drone Kills
            </th>
            <th>
                Assists
            </th>
            <th>
                Kills
            </th>
            <th>
                Damage
            </th>
            <th>
                Score
            </th>
            <th class="never">
                User ID
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var teamPlayer in Model.Players)
        {
            var total = teamPlayer.RoundsCombined;
            <tr>
                <td class="details-control">
                    <img class="loading" src="~/icons/Spinner-1s-64px.svg" width="32" height="32" />
                    <svg class="feather-help-circle plus d-none"><use xlink:href="/icons/feather-sprite.svg#plus-circle" /></svg>
                    <svg class="feather-help-circle minus d-none"><use xlink:href="/icons/feather-sprite.svg#minus-circle" /></svg>
                </td>
                <td>
                    @total.nickname
                </td>
                <td>
                    @if (total.group_id != 0)
                    {
                        <div class="blocky" data-seed="@total.group_id" data-blockytype="group"></div>
                    }
                </td>
                <td data-order="@total.damage_taken.ToString("0.00", CultureInfo.InvariantCulture)">
                    <div data-toggle="tooltip" data-placement="top" title="Total"><b>@total.damage_taken.ToString("0.00", CultureInfo.InvariantCulture)</b></div>
                    @foreach (var round in teamPlayer.Rounds)
                    {
                        <div data-toggle="tooltip" data-placement="top" title="Round @(teamPlayer.Rounds.IndexOf(round) + 1)">@round.damage_taken.ToString("0.00", CultureInfo.InvariantCulture)</div>
                    }
                </td>
                <td data-order="@total.drone_kills">
                    <div data-toggle="tooltip" data-placement="top" title="Total"><b>@total.drone_kills</b></div>
                    @foreach (var round in teamPlayer.Rounds)
                    {
                        <div data-toggle="tooltip" data-placement="top" title="Round @(teamPlayer.Rounds.IndexOf(round) + 1)">@round.drone_kills</div>
                    }
                </td>
                <td data-order="@total.assists">
                    <div data-toggle="tooltip" data-placement="top" title="Total"><b>@total.assists</b></div>
                    @foreach (var round in teamPlayer.Rounds)
                    {
                        <div data-toggle="tooltip" data-placement="top" title="Round @(teamPlayer.Rounds.IndexOf(round) + 1)">@round.assists</div>
                    }
                </td>
                <td data-order="@total.kills">
                    <div data-toggle="tooltip" data-placement="top" title="Total"><b>@total.kills</b></div>
                    @foreach (var round in teamPlayer.Rounds)
                    {
                        <div data-toggle="tooltip" data-placement="top" title="Round @(teamPlayer.Rounds.IndexOf(round) + 1)">@round.kills</div>
                    }
                </td>
                <td data-order="@total.damage.ToString("0.00", CultureInfo.InvariantCulture)">
                    <div data-toggle="tooltip" data-placement="top" title="Total"><b>@total.damage.ToString("0.00", CultureInfo.InvariantCulture)</b></div>
                    @foreach (var round in teamPlayer.Rounds)
                    {
                        <div data-toggle="tooltip" data-placement="top" title="Round @(teamPlayer.Rounds.IndexOf(round) + 1)">@round.damage.ToString("0.00", CultureInfo.InvariantCulture)</div>
                    }
                </td>
                <td data-order="@total.score">
                    <div data-toggle="tooltip" data-placement="top" title="Total"><b>@total.score</b></div>
                    @foreach (var round in teamPlayer.Rounds)
                    {
                        <div data-toggle="tooltip" data-placement="top" title="Round @(teamPlayer.Rounds.IndexOf(round) + 1)">@round.score</div>
                    }
                </td>
                <td>
                    @total.uid
                </td>
            </tr>
        }
    </tbody>
</table>
