@{
    Layout = "_Layout";
}

@using Crossout.AspWeb.Helper
@using Crossout.AspWeb.Models.Cod
@model MatchDetail
@{
    var loc = Model.Localizations;
}

<partial name="header" model="@Model" />

<div class="half-hd-container px-3">

    @if (WebSettings.Settings.EnableAds)
    {
        <partial name="leaderboardad" />
    }

    <div class="row">
        <div class="col-lg-7 col-md-12">
            <div class="card my-1 p-2">
                <div class="d-flex flex-row">
                    <div class="blocky" data-seed="@Model.MatchRecord.match_id" data-blockytype="match"></div>
                    <div class="ml-2">
                        <h4 class="card-title">Match <span class="timestamp">@Model.MatchRecord.match_start</span> <span data-toggle="collapse" data-target="#helpWrapper"><svg class="feather-help-circle"><use xlink:href="/icons/feather-sprite.svg#help-circle" /></svg></span></h4>
                        <div id="helpWrapper" class="collapse">
                            <h5 class="m-2"><loc model="loc" category="shared" name="title.howitworks">How it works</loc></h5>

                        </div>

                        <h5>
                            @Model.MatchRecord.match_type
                            <small class="text-muted">on</small>
                            @Model.Map.map_display_name
                        </h5>
                        <h5>
                            <small class="text-muted">Uploaded By:</small>
                            <a href="/profile/@Model.Uploaders.FirstOrDefault()">@Model.Nicknames.FirstOrDefault()</a>
                        </h5>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-lg-5 col-md-12">
            <div class="card my-1 p-2">
                <h4 class="card-title">Summary</h4>
                <div class="d-flex flex-row justify-content-between">
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-column">
                            <b>Min. Power Score</b>
                            <div>@Model.MatchRecord.min_power_score</div>
                        </div>
                        <div class="d-flex flex-column">
                            <b>Max. Power Score</b>
                            <div>@Model.MatchRecord.max_power_score</div>
                        </div>
                        <div class="d-flex flex-column">
                            <b>Power Score Range</b>
                            <div>@Model.PowerScoreRange</div>
                        </div>
                    </div>
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-column">
                            <b>Start</b>
                            <div class="timestamp">@Model.MatchRecord.match_start</div>
                        </div>
                        <div class="d-flex flex-column">
                            <b>End</b>
                            <div class="timestamp">@Model.MatchRecord.match_end</div>
                        </div>
                        <div class="d-flex flex-column">
                            <b>Duration</b>
                            <div>@Model.Duration</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="card text-center my-1">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                @foreach (var round in Model.Rounds)
                {
                    <li class="nav-item">
                        <a class="nav-link @(round.Counter == 0 ? "active" : "")" data-toggle="tab" role="tab" href="#round@(round.Counter)">@round.Name</a>
                    </li>
                }
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="itemTabContent">
                @{
                    int i = 0;
                }
                @foreach (var round in Model.Rounds)
                {
                    <div class="tab-pane @(round.Counter == 0 ? "show active" : "")" id="round@(round.Counter)">
                        @foreach (var team in round.Teams)
                        {
                            <div class="my-1">
                                <h5>Team @team.TeamNumber - @(Model.MatchRecord.winning_team == team.TeamNumber ? "Won" : "Lost")</h5>
                                <partial name="matchteamtable" model="new TeamTable { Id = i++, MatchId = Model.MatchRecord.match_id, RoundNumber = round.Counter - 1, Players = team.Players.Values.ToList(), HighlightUid = Model.HighlightUid }" />
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/blockies.min.js?@CacheBuster.Once"></script>

<script src="~/scripts/internal/teamtables.js?@CacheBuster.Once"></script>

<script src="~/scripts/internal/blockyplacer.js?@CacheBuster.Once"></script>

<script>
    placeBlockies();

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
