@using Crossout.AspWeb.Helper
@using Crossout.AspWeb.Models.Cod
@model UserProfile
@{
    var loc = Model.Localizations;
}

<div class="card my-1 mt-2 profile-overview" data-uid="@Model.Uid">
    <div class="d-flex flex-row mt-3">
        <div class="col-lg-4 text-left"><div class="blocky" data-seed="@Model.Uid" data-blockytype="profile"></div></div>
        <div class="col">
            <div class="row text-left"><h1>@Model.Nickname</h1></div>
            <div class="row">
                <div class="col">
                    <div class="row d-flex justify-content-center">Games Recorded</div>
                    <div class="row display-4 justify-content-center">@Model.GamesRecorded</div>
                </div>
                <div class="col justify-content-center">
                    <div class="row d-flex justify-content-center">Games Uploaded</div>
                    <div class="row display-4 justify-content-center">@Model.GamesUploaded</div>
                </div>
                <div class="col justify-content-center">
                    <div class="row d-flex justify-content-center">Time Recorded</div>
                    <div class="row display-4 justify-content-center">@Model.TimePlayed</div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row d-flex justify-content-center">(K + A) / D</div>
                    <div class="row display-4 justify-content-center">@Model.KPB</div>
                </div>
                <div class="col justify-content-center">
                    <div class="row d-flex justify-content-center">MVP Rate</div>
                    <div class="row display-4 justify-content-center">@Model.MVPRate</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg text-center">
            <figure class="highcharts-figure">
                <div id="gamemode_overview"></div>
            </figure>
        </div>
        <div class="col-lg text-center">
            <figure class="highcharts-figure">
                <div id="weapons_overview"></div>
            </figure>
        </div>
        <div class="col-lg text-center">
            <figure class="highcharts-figure">
                <div id="movement_overview"></div>
            </figure>
        </div>
    </div>
</div>
