@{
    Layout = "_Layout";
}

@using Crossout.AspWeb.Helper
@using Crossout.AspWeb.Models.Cod

<partial name="header" model="@Model" />

<div class="half-hd-container px-3 profile">

    @if (WebSettings.Settings.EnableAds)
    {
        <partial name="leaderboardad" />
    }
    <partial name="profile_overview" model="@Model" />
    <partial name="gamemode_overview" model="@Model" />
    <partial name="match_history_overview" model="@Model" />
    <partial name="revenue_overview" model="@Model" />
</div>

<script src="~/scripts/blockies.min.js?@CacheBuster.Once"></script>

<script src="~/scripts/internal/profile.js"></script>

<script src="~/scripts/internal/blockyplacer.js?@CacheBuster.Once"></script>

<script>
    placeBlockies();

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
